<div class="log-in-container">

  <div class="form-content">
    <form class="log-in-form" style="margin: 50px auto; width: 400px;">

      <h1>Welcome</h1>
      <span>It's a pleasure to have you back</span>

      <div>
        <div class="inputs-container" style="margin-top: 20px">
          <label>User</label>
          <mat-form-field>
            <input matInput placeholder="Type your user">
          </mat-form-field>
        </div>

        <div class="inputs-container">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <label>Password</label>
            <a href="#" style="font-size: 10px;">Forgot Password?</a>
          </div>
          <mat-form-field>
            <input matInput placeholder="Type your password">
          </mat-form-field>
        </div>


        <input class="checks" type="checkbox">
        <label>Remember for 30 days</label>

      </div>

      <button mat-raised-button color="primary" style="width: 100%;
      background-color: black; color: white;">Log In</button>


      <div class="buttons" style="margin-top: 20%;">
        <button class="button1">
          <mat-icon>google</mat-icon>
          Iniciar sesión con Google
        </button>

        <button class="button1">
          <mat-icon>apple</mat-icon>
          Iniciar sesión con Apple
        </button>
      </div>


      <p>Don't you have a account? <a href="">Sign Up</a></p>

    </form>

  </div>
  <div class="image-container">
    <img src="#" alt="taller-mecanico">
  </div>

</div>
